# Entornos virtuales
venv/
ENV/
env/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de paquetes y builds
dist/
build/
*.egg-info/

